@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;

  color-scheme: light;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

span {
  display: block;
}

h1 {
  font-size: 48px;

  @media (min-width: 768px) {
    font-size: 96px;
  }
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
  font-weight: 600;
}

p {
  font-size: 20px;

  @media (min-width: 768px) {
    font-size: 24px;
  }
}

.btn {
  display: inline-block;
  padding: 10px 28px;
  margin-top: 20px;
  font-size: 28px;
  font-weight: 500;
  background-color: #fea300;
  cursor: pointer;
  border-radius: 5px;
  color: white;

  box-shadow: 0 2px 4px rgb(0 0 0 / 0.3);

  transition: box-shadow 0.15s ease-in-out;

  background-image: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-gradient)
  );
}

.btn:hover {
  box-shadow: none;
}

.cont {
  padding: 0 10px;
  border-radius: 15px;
  margin: 20px auto;

  @media (min-width: 768px) {
    padding: 30px 30px;
  }

  @media (min-width: 1280px) {
    padding: 40px 30px;
    max-width: 1280px;
  }
}

.list-item {
  align-items: center;
  position: relative;

  &::before {
    content: "⦿";
    color: var(--color-secondary) /* #fea300 */;
  }
}
