@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;

  color-scheme: light;
  background-color: white;

  color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  cursor: default;
}

/* Utility typography overrides */
.text-sm {
  font-size: 14px !important;
}
.text-base {
  font-size: 16px !important;
}
.text-md {
  font-size: 18px !important;
}
.text-lg {
  font-size: 20px !important;
}

.package-type {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-secondary);
  margin-bottom: 5px;
  display: block;
}

.card p {
  font-size: 16px;
  color: #555;
}

.tab-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 0 auto 30px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.tab-btn {
  flex: 1;
  padding: 10px 0px;
  background: transparent;
  border: none;
  font-size: 18px;
  font-weight: 500;
  z-index: 10;
  cursor: pointer;
  transition: color 0.2s ease;
  color: #333;
  width: 150px;
}

.tab-btn.active {
  color: white;
  font-weight: 600;
}

.tab-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background: var(--color-secondary);
  z-index: 1;
  transition: transform 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

span {
  display: block;
}

h1 {
  font-size: 48px;

  @media (min-width: 768px) {
    font-size: 96px;
  }
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
  font-weight: 600;
}

p {
  font-size: 20px;

  @media (min-width: 768px) {
    font-size: 24px;
  }
}

.btn {
  display: inline-block;
  padding: 10px 28px;
  margin-top: 20px;
  font-size: 28px;
  font-weight: 500;
  background-color: #fea300;
  cursor: pointer;
  border-radius: 5px;
  color: white;

  box-shadow: 0 2px 4px rgb(0 0 0 / 0.3);

  transition: box-shadow 0.15s ease-in-out;

  background-image: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-gradient)
  );
}

.btn:hover {
  box-shadow: none;
}

.cont {
  padding: 20px 10px;
  border-radius: 15px;
  margin: 40px auto;

  @media (min-width: 768px) {
    padding: 30px 30px;
  }

  @media (min-width: 1280px) {
    padding: 40px 30px;
    max-width: 1280px;
  }
}

.list-item {
  align-items: center;
  position: relative;

  &::before {
    content: "⦿";
    color: var(--color-secondary) /* #fea300 */;
  }
}
